<div class="bg-transparent py-2 pt-5">
   <hr>
   <div class="col">
      <footer>
         <div class="row">
            <div class="col-lg-12 text-center my-1">
               <a href="https://github.com/ZaenalMaestro"><img src="/icons/github.svg" alt="github" width="24"
                     height="24" title="github" class="mx-auto"></a>
               <a href="https://www.instagram.com/zaenal_mst/"><img src="/icons/instagram.svg" alt="instagram"
                     width="24" height="24" title="instagram" class="mx-auto"></a>
               <a href="https://www.youtube.com/channel/UCpS5EW-baRF0YHdvoVjOBcg"><img src="/icons/youtube.svg"
                     alt="youtube" width="24" height="24" title="youtube" class="mx-auto"></a>
            </div>
         </div>
         <blockquote class="blockquote text-center">
            <h6 class="text-center font-weight-bold">&copy; <span class="text-success">Zaenal</span> ~ 2021</h6>
         </blockquote>

      </footer>
   </div>
</div>

<!-- script js -->
<script src="{{.Site.BaseURL}}js/jquery.min.js"></script>
<script src="{{.Site.BaseURL}}js/bootstrap.min.js"></script>
<script src="{{.Site.BaseURL}}js/prism.js" data-manual></script>