.font-small {
   font-size: small;
}

section>article>div.highlight>pre,
img.img-content {
   border-radius: 5px;
}

.container>section>article>code {
   color: red;
   padding: .2em .4em;
   margin: 0;
   font-size: 85%;
   background-color: var(--color-markdown-code-bg);
   border-radius: 6px;
}